/* Code Block */
pre {
  line-height: 20px;
  margin: 0;
  padding: 0;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 14px;
  padding: 0;
}

.chroma .lntable {
  padding: 1.2rem;
}

/* Blockquote */
blockquote {
  margin: 1rem;
  padding-left: 1rem;
  font-style: normal;
  color: gray;
}

.page .about a {
  color: #212121;
  text-transform: uppercase;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.page .about a:hover,
.page .about a:focus {
  color: #1565c0;
  text-decoration: none;
}

.page .about a i {
  font-size: 3.2rem;
}

/* Override table style */
table {
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table tr:first-child th {
  border-top: 1px solid #dfe2e5;
}

table tr:last-child td {
  border-bottom: 1px solid #dfe2e5;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid #dfe2e5;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid #dfe2e5;
}

/* Remove heading H1, with blog title this level is not required in markdown. */
#TableOfContents>ul {
  list-style-type: none;
  padding-left: 0;
}

#TableOfContents ul ul {
  list-style-type: disc;
}
