html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: white;
    color: black;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
div {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
a {
    text-decoration: none;
}
span {
    vertical-align: middle;
}
.copyright {
    background-color: #333;
    height: 96px;
    line-height: 96px;
    font-size: 3em;
    text-align: right;
}
.copyright span {
    vertical-align: middle;
}
.copyright a {
     color: gray;
}
.header {
    background-color: black;
    color: white;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
    text-align: center;
}
.title {
    background-color: #f90;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
    text-align: center;
}
.image {
    margin-top: 30px;
    text-align: center;
}
.image img {
    width: 90%;
    height: auto;
}
.text {
    font-size: 2em;
    padding: 30px;
}
.text span {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
}
