html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: black;
    color: white;
}
div {
    width: 100%;
    clear: both;
}
a {
    text-decoration: none;
}
span {
    vertical-align: middle;
}
textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px;
    resize: none;
    background-color: #bbb;
    color: black;
    font-size: 4em;
    width: 500px;
    height: 400px;
}
.copyright {
    background-color: #333;
    height: 96px;
    line-height: 96px;
    font-size: 3em;
    text-align: center;
}
.copyright span {
    vertical-align: middle;
}
.copyright a {
     color: gray;
}
.title {
    background-color: #f90;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
    text-align: center;
}
.navplaceholder {
    height: 96px;
}
.nav {
    background-color: #f90;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.nav a {
    color: #fff;
}
.page {
    display: none;
}
.page.show {
    display: block;
}
.showoff {
    font-size: 10em;
    color: red;
}
.stepname {
    background-color: #333;
    height: 120px;
    line-height: 120px;
    font-size: 4em;
    text-align: center;
}
