html, body {
    height: 100%;
    margin: 0;
}
body {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    flex-pack: center;
    background-image: linear-gradient(red, #f06d06);
}
@media all and (max-width: 720px) {
    body {
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
}
.center {
    font-size: 96px;
    text-align: center;
}
.page {
    display: none;
}
.page.show {
    display: block;
}
.nav {
    float: left;
    font-size: 125%;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
.nav ul {
    margin: 0
}
.nav li {
    background: #777;
    display: block;
    float: left;
    margin-right: 7px;
}
.nav li:hover {
    background-color: #f90
}
.nav a {
    color: #fff;
    display: block;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}
div.copyright {
    font-size: 32px;
    font-family: sans-serif;
    color: gray;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
