div.template {
    border: 1px dotted white;
}

div:hover.template {
    border: 1px dotted orange;
}

div:hover.greeting {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgaGVpZ2h0PScxMnB4JyB3aWR0aD0nMTAwcHgnPjxyZWN0IHg9JzAnIHk9JzAnIHdpZHRoPScxMDAnIGhlaWdodD0nMTInIGZpbGw9J29yYW5nZScgLz48dGV4dCB4PScxMCcgeT0nOScgZmlsbD0nd2hpdGUnIGZvbnQtc2l6ZT0nOSc+R3JlZXRpbmcgVGVtcGxhdGU8L3RleHQ+PC9zdmc+") right top no-repeat;
}

div:hover.body {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgaGVpZ2h0PScxMnB4JyB3aWR0aD0nMTAwcHgnPjxyZWN0IHg9JzAnIHk9JzAnIHdpZHRoPScxMDAnIGhlaWdodD0nMTInIGZpbGw9J29yYW5nZScgLz48dGV4dCB4PScyMCcgeT0nOScgZmlsbD0nd2hpdGUnIGZvbnQtc2l6ZT0nOSc+Qm9keSBUZW1wbGF0ZTwvdGV4dD48L3N2Zz4=") right top no-repeat;
}

div:hover.closing {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgaGVpZ2h0PScxMnB4JyB3aWR0aD0nMTAwcHgnPjxyZWN0IHg9JzAnIHk9JzAnIHdpZHRoPScxMDAnIGhlaWdodD0nMTInIGZpbGw9J29yYW5nZScgLz48dGV4dCB4PScxNScgeT0nOScgZmlsbD0nd2hpdGUnIGZvbnQtc2l6ZT0nOSc+Q2xvc2luZyBUZW1wbGF0ZTwvdGV4dD48L3N2Zz4=") right top no-repeat;
}
